POSTGRES_DB=asoc
POSTGRES_USER=asoc
POSTGRES_PASSWORD=asoc
POSTGRES_DSN=postgres://asoc:asoc@postgres:5432/asoc?sslmode=disable

NATS_URL=nats://nats:4222

VITE_API_URL=http://localhost:8080

MINIO_ROOT_USER=asoc
MINIO_ROOT_PASSWORD=asoc12345
