# Compiled binaries
backend/server
backend/seed

# Environment
.env
.env.local
backend/internal/enrichment/bdu/*.xml

# Editor / OS
.DS_Store
*.swp
*.swo
*.swn
.idea/
.vscode/

# Frontend build & deps
frontend/node_modules/
frontend/dist/

# Go temp & local data
backend/tmp/
backend/data/

# Test coverage
coverage/
*.log


# Analyze
checkov.json
gitleaks.json
grype.json
sbom.cdx.json
trivy.json
trufflehog.json
zap-full.json
zap.json
semgrep.sarif
gosec